[submodule "phylogenomics_intro_vertebrata"]
	path = phylogenomics_intro_vertebrata
	url = https://github.com/chrishah/phylogenomics_intro_vertebrata
[submodule "post-assembly-intro"]
	path = post-assembly-intro
	url = https://github.com/chrishah/post-assembly-intro
[submodule "short-read-processing-and-assembly"]
	path = short-read-processing-and-assembly
	url = https://github.com/chrishah/short-read-processing-and-assembly
[submodule "AMEB_HPC_demo"]
	path = AMEB_HPC_demo
	url = https://github.com/chrishah/AMEB_HPC_demo
